---
import Layout from "~/layouts/Layout.astro"

interface Props {
  frontmatter: {
    layout: string,
    title: string,
    description: string,
    image: string,
    alt: string,
  },
}

const { frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  og_image={frontmatter.image}
  og_type="article"
>
  <div class="space-y-2">
    <h1 class="balance">{frontmatter.title}</h1>
    <p class="balance">{frontmatter.description}</p>
  </div>
  <div class="space-y-6 md:space-y-10">
    <slot />
  </div>
</Layout>
